<div class="span 4 offset5 ice-box text-center">
	<h1 class= "awesome-h1">
		Hi I'm Jean Marie
	</h1>
	<h2> Baaaa
		</h2>

	<br/>
		<h3> Spring is Coming
			
			</h3> 
	<br/>
	<br/>
	<%= link_to 'Launch', '#', :class => 'btn btn-primary' %>
</div>