<div class="span 4 offset5 ice-box text-center">
	<h1 class= "awesome-h1">
		Spring Is Coming
	</h1>
	<h2> Flowers are Blooming
		</h2>

		<h3> 
			
			</h3> 
	
	<%= link_to 'BAAA', '#', :class => 'btn btn-primary' %>
</div>